@import url("https://fonts.googleapis.com/css2?family=Anton&family=Nerko+One&family=Poppins:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Nerko+One&family=Poppins:wght@500&family=Quicksand:wght@300&display=swap");

@font-face {
  font-family: "coffecake";
  src: url("../fonts/CoffeCake.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100px;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 4;
}

header .logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo img {
  height: 100px;
  border-radius: 50px;
}

header nav {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

header nav a {
  text-decoration: none;
  background-color: #0a50bb;
  padding: 8px 30px;
  margin-right: 5px;
  border-radius: 20px;
  color: #fff;
  font-size: 0.8rem;
  white-space: nowrap;
  transition: 0.5s;
  font-family: "Quicksand", sans-serif;
}

header nav a:hover {
  background-color: #2ecece;
}

header .insta {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .insta .media-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  /* border: 1px solid #0a50bb; */
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #0a50bb;
  transition: 0.5s;
}

header .insta .media-icon:hover {
  background-color: #0a50bb;
  color: #fff;
  border: 1px solid #fff;
}

header .insta .media-icon i {
  font-size: 1.5rem;
}

header .insta .media-icon span {
  font-size: 0.6rem;
}

#home {
  height: 100px;
}

.main-home {
  overflow-x: hidden;
}

/* menu mobile */

.show-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: fixed;
  right: 0px;
  top: 80px;
  padding: 0 10px 10px 10px;
  max-width: 180px;
  height: 20 0px;
  z-index: 5;
  border-radius: 0 0 0 20px;
  background-color: #fff;
  opacity: 0;
  animation: slideLeft 0.8s ease forwards;
}

.show-links a {
  text-align: center;
  min-width: 165px;
}

[toggle] {
  display: none;
}

/* slides */

.slider {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  position: relative;
}

.slides {
  width: 400%;
  max-height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  overflow: hidden;
  transition: 2s;
}

.slide img {
  width: 100%;
  object-fit: cover;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

#radio4:checked ~ .first {
  margin-left: -75%;
}

/* first message */

.container-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  position: relative;
  z-index: -1;
}

.text {
  background-color: #2ecece;
  color: #fff;
  width: 90%;
  text-align: center;
  padding: 12px;
  border-radius: 15px;
}

.text p {
  font-size: 1.6rem;
  font-family: "Quicksand", sans-serif;
  word-spacing: 3px;
}

/* about us */

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-aboutUs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 80px;
}

.container-aboutUs .content-img {
  width: 50%;
}

.container-aboutUs .content-img img {
  width: 100%;
}

.container-aboutUs .content-text {
  width: 40%;
  position: relative;
  z-index: -1;
}

.container-aboutUs .content-text span {
  color: #0a50bb;
  margin-left: 40px;
}

.container-aboutUs .content-text img {
  width: 300px;
  display: flex;
  justify-content: flex-start;
  margin: 0 0 20px 0;
}

.container-aboutUs .content-text p {
  color: #acacac;
  margin-bottom: 10px;
}

.container-aboutUs .content-text strong {
  color: #2ecece;
}

.container-aboutUs .content-text a,
.promotion .promotion-text a {
  background-color: #0a50bb;
  color: #fff;
  padding: 10px;
  width: 100%;
  border-radius: 50px;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  text-align: center;
  font-size: 1.3em;
  font-family: "Quicksand", sans-serif;
  transition: 0.5s;
}

.container-aboutUs .content-text a:hover,
.promotion .promotion-text a:hover {
  background-color: #2ecece;
}

.container-aboutUs .content-text a i,
.promotion .promotion-text a i {
  margin-right: 10px;
}

/* video about us */

.div-video {
  max-width: 95%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-video iframe {
  border-radius: 10px;
}

/* audios */

.div-audio {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 40%;
  right: 0;
  z-index: 4;
}

.div-audio i {
  background-color: #2ecece94;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 20px 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.div-audio i:hover {
  background-color: #0a50bb;
}

.div-audio audio {
  min-width: 300px;
}

.hidden {
  display: none;
}

.div-next {
  position: fixed;
  bottom: calc(40% - 60px);
  right: 0;
  padding: 10px 12px;
  height: 50px;
  width: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: #2ecece94;
  color: #fff;
  border-radius: 20px 0 0 20px;
  cursor: pointer;
  transition: 0.5s;
  z-index: 5;
}

.div-next:hover {
  background-color: #044787;
}

/* menu links */

.links-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  width: 100%;
  background-color: #0a50bb;
  color: #fff;
}

.links-categories div {
  cursor: pointer;
  padding: 5px 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu img {
  width: 300px;
  margin: 0 0 20px 0;
}

.container-categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 80px;
}

.categorie {
  width: 350px;
  max-width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  transition: 0.8s;
}

.categorie:hover {
  transform: scale(1.05);
}

.categorie h3 {
  font-size: 1.2rem;
  color: #2ecece;
  font-weight: 100;
  text-align: center;
}

.categories a img {
  width: 350px;
  max-width: 100%;
  border-radius: 4px;
  margin: 10px 0 0 0;
}

.categories a span {
  background-color: #2ecece;
  color: #fff;
  padding: 5px;
  width: 100%;
  text-align: center;
  border-radius: 0 0 4px 4px;
  position: relative;
  bottom: 10px;
}

.bg-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 650px;
}

.bg-menu div {
  height: 150px;
  width: 1200px;
  max-width: 98%;
  border-radius: 20px;
  background-color: #0a50bb;
  position: relative;
  top: -600px;
  z-index: -1;
}

/* promotions */

.container-promotion {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
  margin-bottom: 80px;
}

.container-promotion h2 {
  font-size: 3.2rem;
  color: #2ecece;
}

.promotion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.promotion .promotion-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promotion .promotion-img img {
  width: 400px;
}

.carousel-promotion {
  max-width: 45%;
  min-width: 350px;
  display: flex;
}

.carousel-promotion .carousel-item-visible {
  width: 100%;
  opacity: 0;
  animation: slideRitgh 0.8s ease forwards;
}

.carousel-promotion .carousel-item-visible img {
  width: 100%;
  border-radius: 10px;
}

.carousel-promotion .carousel-item {
  display: none;
}

.promotion .promotion-text {
  width: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promotion .promotion-text .promotion-value {
  margin-bottom: 20px;
  padding-left: 15px;
}

.promotion .promotion-text .promotion-value h3 span {
  font-size: 0.8rem;
  color: #0a50bb;
  margin-left: -15px;
}

.promotion .promotion-text h3 {
  font-size: 3rem;
  color: #2ecece;
}

.promotion .promotion-text p {
  font-size: 1rem;
  color: #acacac;
  margin-bottom: 10px;
}

/* locations */

#location {
  height: 80px;
}

.location {
  overflow-x: hidden;
}

.container-location {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: relative;
}

.content-location {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.location-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location-title img {
  position: relative;
  z-index: 1;
  width: 450px;
  max-width: 95%;
}

.location-title a {
  background-color: #0a50bb;
  color: #fff;
  font-size: 1.5rem;
  border: 0;
  border-radius: 20px;
  padding: 5px 50px;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  z-index: 1;
  transition: 0.5s;
}

.location-title a:hover {
  background-color: #2ecece;
}

.location-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-location .location-img-mobile-logo {
  display: none;
}

.location-img iframe {
  position: relative;
  z-index: 1;
  width: 600px;
  max-width: 95%;
  margin: 20px 0;
  border-radius: 20px;
}
/* 
.location-page {
  margin: -450px 0;
} */

.container-boia1 {
  position: absolute;
  width: 300px;
  top: -30px;
  right: -100px;
  z-index: 5;
  overflow: hidden;
}

.container-boia1 img {
  width: 100%;
}

.container-boia2 {
  width: 300px;
  position: absolute;
  z-index: 5;
  bottom: -100px;
  overflow: hidden;
}

.container-boia2 img {
  width: 100%;
}

/* experiencies */

#experiencie {
  height: 80px;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experience img {
  width: 500px;
  max-width: 100%;
}

.boxes-experience {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1000px;
}

.boxes-experience .box {
  min-width: 45%;
  max-height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.boxes-experience .box h3 {
  width: fit-content;
  font-size: 2rem;
  margin-bottom: 5px;
  color: #044787;
  font-family: "coffecake", cursive;
}

.boxes-experience .box .font1 {
  transform: rotate(-5deg);
}

.boxes-experience .box .font2 {
  transform: rotate(5deg);
}

.boxes-experience .box .font3 {
  transform: rotate(-8deg);
}

.boxes-experience .box img {
  width: 300px;
  height: 190px;
  object-fit: cover;
  margin: 0;
  border: 5px solid #fff;
  box-shadow: -5px 5px 7px rgb(172, 172, 172);
  transition: 0.8s;
  cursor: pointer;
}

.boxes-experience .box img:hover {
  transform: scale(1.1);
}

.boxes-experience .box .img1 {
  transform: rotate(-5deg);
}
.boxes-experience .box .img2 {
  transform: rotate(5deg);
}
.boxes-experience .box .img3 {
  transform: rotate(-8deg);
}

/* products menu */

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 30px 0;
}

.product {
  margin: 10px;
  max-width: 800px;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
}

.product .titulo {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-radius: 4px 4px 0 0;
  text-align: center;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}

.product .titulo span {
  font-size: 0.8rem;
}

.product h2 {
  font-size: 2rem;
}

.product ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product ul li {
  list-style: none;
  padding: 10px 5px;
  margin: 10px 0;
  width: 380px;
  font-size: 0.8rem;
  border-radius: 4px;
  transition: 0.5s;
}

.product .cut {
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border: 1px solid #000;
  border-radius: 0 0 4px 4px;
}

.product ul li div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product ul li p {
  font-size: 0.7rem;
  max-width: 200px;
  margin-top: 5px;
}

/* footer */

.footer-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  padding-top: 20px;
  gap: 20px;
  border-top: 1px solid #ebebeb;
}

.footer-info .footer-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.footer-info .footer-image p {
  text-align: center;
  color: #acacac;
  max-width: 250px;
}

.footer-info .footer-image img {
  width: 150px;
  margin-bottom: -10px;
}

.footer-info .contacts {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-around;
  gap: 10px;
}

.footer-info .contacts .contact {
  padding: 5px;
}

.footer-info .contacts .contact h4 {
  margin-bottom: 10px;
  color: #044787;
}

.footer-info .contacts .contact p {
  /* font-size: 0.8rem; */
  margin-bottom: 10px;
  color: #acacac;
}

.footer-info .contacts .contact .socials {
  display: flex;
  justify-content: space-between;
}

.footer-info .contacts .contact a i {
  font-size: 1.8rem;
  color: #0a50bb;
  transition: 0.5s;
}

.footer-info .contacts .contact a i:hover {
  color: #2ecece;
}

.created {
  margin-top: 50px;
  font-size: 0.8rem;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #044787;
  color: #fff;
}

.created p a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .content-menu-img img {
    max-width: 100%;
  }

  .content-menu-text {
    width: 100%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1100px) {
  .promotion .promotion-img {
    width: 100%;
  }

  .promotion-img img {
    max-width: 300px;
  }

  .promotion .promotion-text {
    position: static;
    width: 90%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .promotion-text .promotion-value h2 {
    font-size: 2rem;
  }

  .promotion-text .promotion-value h3 {
    font-size: 2.3rem;
    text-align: center;
  }

  .promotion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (max-width: 1050px) {
  .content-location .location-img-mobile-logo {
    display: block;
  }

  .content-location .location-img-logo {
    display: none;
  }

  .container-boia1 {
    top: 100px;
    right: 0;
  }

  .container-boia2 {
    left: 0;
  }
}

@media (max-width: 968px) {
  header nav a {
    padding: 10px;
  }

  .manual-navigation {
    margin-top: -50px;
  }

  .content-logo-img img {
    max-width: 100%;
  }

  .container-aboutUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .container-aboutUs .content-text {
    width: 90%;
    /* margin: 0 30px; */
  }

  .container-aboutUs .content-text .titulo {
    margin-bottom: 20px;
  }

  .container-aboutUs .content-img {
    width: 80%;
  }

  .container-aboutUs .content-img img {
    margin-top: 30px;
    width: 100%;
  }
}

@media (max-width: 820px) {
  .container-boia1 {
    top: 100px;
    right: -50px;
  }

  .container-boia2 {
    left: -50px;
  }
}

@media (max-width: 780px) {
  .product ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 690px) {
  .links-categories {
    top: 80px;
    height: 60px;
    z-index: 4;
  }

  main {
    margin-bottom: 30px;
  }

  .manual-navigation {
    margin-top: -40px;
  }

  .navigation-auto {
    margin-top: 165px;
  }

  .container-text {
    margin: 10px 0;
    height: 150px;
  }

  .container-aboutUs .content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .menu img {
    margin-bottom: 20px;
  }

  .promotion-text {
    margin: 0;
  }

  .location-title {
    margin-bottom: 20px;
  }

  .experience img {
    margin: 20px 0 10px 0;
  }

  .content-menu-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header {
    height: 100px;
  }

  header .insta {
    display: none;
  }

  [toggle] {
    display: block;
    color: #fff;
    background-color: #0a50bb;
    padding: 10px 13px;
    border-radius: 25px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.5s;
  }

  [toggle]:hover {
    background-color: #2ecece;
  }

  .hidden-links {
    display: none;
  }

  .content-logo-text {
    width: 80%;
  }

  .menu h1 {
    font-size: 2.2rem;
    margin: 0 0 25px 0;
  }

  .location-title h2 {
    font-size: 4rem;
  }

  .container-boia1 {
    right: -150px;
  }

  .container-boia2 {
    left: -150px;
  }

  .experience h2 {
    font-size: 4rem;
  }

  .boxes-experience .box {
    margin: 50px -20px;
  }
}
/* 
.container-imgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-imgs iframe {
  width: 1000px;
  max-width: 95%;
  min-height: 100vh;
} */

/* .img-cardapio img {
    max-width: 100%;
} */

@media (max-width: 480px) {
  /* .container-aboutUs .content-text {
    padding: 10px;
  } */

  .container-aboutUs .content-text span {
    margin-left: 0;
  }

  .categories a span {
    font-size: 0.8rem;
  }

  .manual-navigation {
    margin-top: -35px;
  }

  .navigation-auto {
    margin-top: 115px;
  }

  .container-boia1 {
    width: 250px;
    top: 150px;
    right: -120px;
  }

  .container-boia2 {
    width: 250px;
    left: -120px;
    bottom: -30px;
  }

  .location-page {
    margin: -250px 0;
  }

  .boxes-experience .box {
    width: 45%;
    margin: 30px 0;
  }

  .footer-info {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .footer-info .footer-image img {
    width: 200px;
  }

  .footer-info .contacts {
    display: flex;
  }

  .footer-info .contacts div p {
    font-size: 0.8rem;
  }
}

@media (max-width: 340px) {
  .container-boia1 {
    width: 200px;
    top: 150px;
    right: -130px;
  }

  .container-boia2 {
    width: 200px;
    left: -130px;
    bottom: -30px;
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRitgh {
  0% {
    opacity: 0;
    transform: translateX(-120px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideBottom {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
