

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}







header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-image: linear-gradient(to right, #0ea7da, #12a8a8) ;
    opacity: 0;
    animation: slideBottom .5s ease forwards;
}

header .logo {
    width: 100px;
}

header .logo img {
    width: 50px;
    border-radius: 50px;
}

header nav {
    display: flex;
    justify-content: space-around;
    min-width: 300px;
    width: 450px;
}

header nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: .5s;
}

header nav a:hover {
    color: #d4d4d4;
}








.slider {
    margin: 0 auto;
    width: 100%;
    max-height: 500px;
    overflow: hidden;
    opacity: 0;
    animation: slideBottom .8s ease forwards;
    animation-delay: .5s;
}

.slides {
    width: 400%;
    max-height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    overflow: hidden;
    transition: 2s;
}

.slide img {
    width: 100%;
    object-fit: cover;
}

.manual-navigation {
    position: absolute;
    width: 100%;
    margin-top: -5%;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}


#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid aquamarine;
    padding: 7px;
    border-radius: 12px;
    cursor: pointer;
    transition:  .8s;
}

.navigation-auto {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: .8s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #FFF;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #FFF;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #FFF;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #FFF;
}





.content-sociais {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    margin: 40px 0;
}

.content-sociais h2 {
    margin-bottom: 20px;
    text-align: center;
    opacity: 0;
    animation: slideBottom .8s ease forwards;
    animation-delay: .5s;
}

.midias {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.content-sociais a {
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.content-sociais a i {
    font-size: 1.8rem;
    color: #000;
    transition: .5s;
}

.content-sociais a i:hover {
    color: #3f3f3f;
    transform: scale(1.1);
}






/* .content-menu-pdf {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: 30px;
    background-image: linear-gradient(to right, #0db0e6, #1BC9C9) ;
}

.content-menu-pdf a {
    text-decoration: none;
    font-size: 2rem;
    background-color: #fff;
    color: #000;
    padding: 10px 30px;
    border-radius: 25px;
    transition: .8s;
}

.content-menu-pdf a:hover {
    transform: scale(1.1);
} */





.content-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 350px;
    opacity: 0;
    animation: slideTop .8s ease forwards;
    animation-delay: 1s;
}

.content-logo-text {
    text-align: center;
    width: 40%;
}

.logo-text h2, 
.menu-text h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}


.content-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-btn a {
    background-color: #0db0e6;
    color: #fff;
}


.menu-btn a {
    background-color: #fff;
    color: #000;
}

.content-btn a {
    border: 0;
    padding: 10px 50px;
    border-radius: 15px;
    margin-top: 30px;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    transition: .5s;
}

.content-btn a:hover {
    transform: scale(1.1);
}

.content-logo-img img {
    width: 350px;
    margin-top: 5px;
}





.content-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #0db0e6, #1BC9C9) ;
    opacity: 0;
    animation: slideBottom .8s ease forwards;
    animation-delay: 1s;
}

.content-logo-img {
    max-height: 100%;
}

.content-menu-img img {
    max-width: 600px;
    margin-bottom: -4px;
}

.content-menu-text {
    text-align: center;
    width: 50%;
    color: #fff;
}






.hidden {
    display: none;
}

.links-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(to right, #0ea7da, #12a8a8) ;
    color: #fff;
}

.links-categories div {
    cursor: pointer;
    padding: 5px 10px;
}







/* 
.menu {
    opacity: 0;
    animation: slideTop .5s ease forwards;
} */

.menu h1 {
    text-align: center;
    margin: 40px;
    font-size: 3rem;
}


.container-categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.categorie {
    width: 350px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .8s;
}

.categorie:hover {
    transform: scale(1.1);
}

.categorie h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}


.categories div img {
    max-width: 350px;
    border-radius: 4px;
}






.products {
    display: flex;
    justify-content: center;
    align-items: center;
}


.product {
    margin: 10px;
    max-width: 800px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}

.product .titulo {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-radius: 4px 4px 0 0;
    text-align: center;
    margin: 30px 0 0 0;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.product .titulo span {
    font-size: .8rem;
}

.product h2 {
    font-size: 2rem;
}

.product ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product ul li {
    list-style: none;
    padding: 10px 5px;
    margin: 10px 0;
    width: 380px;
    font-size: .8rem;
    border-radius: 4px;
    transition: .5s;
}

.product ul li:hover {
    background-color: #d4d4d4;
}

.product .cut {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border: 1px solid #000;
    border-radius: 0 0 4px 4px;
}

.product ul li div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product ul li p {
    font-size: .7rem;
    max-width: 200px;
    margin-top: 5px;
}




.show-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: -150px;
    top: 60px;
    max-width: 100px;
    height: 150px;
    background-color: #12a8a8;
    z-index: 5;
    border-radius: 0 0 0 4px;
    opacity: 0;
    animation: slideLeft .8s ease forwards;
}

.show-links a {
    padding-left: 10px;
}


[toggle] {
    display: none;
}





@media (max-width: 1200px) {

    .content-menu-img img {
        max-width: 100%;
    }

    
    .content-menu-text {
        width: 100%;
        margin: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}




@media (max-width: 968px) {

    .manual-navigation {
        margin-top: -50px;

    }

    .content-logo-img img {
        max-width: 100%;
    }

    /* .navigation-auto {
        margin-top: ;
    } */
}



@media (max-width: 780px) {
    .product ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



@media (max-width: 690px) {

    
    header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 5;
    }

    .links-categories {
        position: fixed;
        top: 60px;
        height: 60px;
        z-index: 4;
    }



    main {
        margin-top: 100px;
        margin-bottom: 30px;
    }

    .main-home {
        margin-top: 60px;
    }

    .manual-navigation {
        margin-top: -40px;

    }

    .navigation-auto {
        margin-top: 165px;
    }

    .content-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .content-menu-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    [toggle] {
        display: block;
        color: #fff;
        font-size: 1.5rem;
        cursor: pointer;
        transition: .5s;
    }

    [toggle]:hover {
        color: #3f3f3f;
    }

    .hidden-links {
        display: none;
    }

    .content-logo-text {
        width: 80%;
    }
}


@media (max-width: 480px) {

    .manual-navigation {
        margin-top: -35px;
    }

    .navigation-auto {
        margin-top: 115px;
    }
}


@media (max-width: 390px) {
    .product ul li {
        width: 90%;
    }
}


@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRitgh {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideBottom {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
